.letters_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.letters_infos {
  display: flex;
}

.letters_infos .score {
  margin-right: 30px;
}

.letters_letter {
  display: inline-block;
  width: 129px;
  margin: 0;
  padding: 8px 16px;
  text-align: center;
  font-size: 80px;
  font-weight: 600;
  background-color: white;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
}

.letters_input,
.letters_input:focus {
  margin-top: 60px;
  padding: 8px 22px;
  text-align: center;
  font-size: 80px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  background-color: white;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  outline: 0;
}

.letters_input.wrong,
.letters_input.wrong:focus {
  border-color: #db3213;
}

.letters_input.good,
.letters_input.good:focus {
  border-color: #3eb667;
}

.popupScore {
  display: none;
}

.popupScore.display {
  display: block;
}
